.dataset-table {
    font-family: "Inter", 'Times New Roman', Times, serif;
    width: 100%;
    border-collapse: collapse;
}

.dataset-table th,
.dataset-table td {
    font-family: "Inter", 'Times New Roman', Times, serif;
    padding: 12px;
    border-bottom: 1px solid #e2e2e2;
    text-align: left;
}

.dataset-actions button {
    font-family: "Inter", 'Times New Roman', Times, serif;
    margin-right: 12px;
    cursor: pointer;
    background: none;
    border: none;
    color: #0077ff;
    font-weight: 500;
}

.dataset-actions button:hover {
    font-family: "Inter", 'Times New Roman', Times, serif;
    text-decoration: underline;
}