.navbar {
  height: 60px;
  background: #833f04;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f0f0f0;
  padding: 4px 8px;
  border: 2px solid rgb(7, 7, 178);
  border-radius: 6px;
  width: 300px;
}

.search-bar input {
  color: black;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.navbar-left h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #f0f0f0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-title {
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 600;
}
.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.icon-btn:hover {
  background: #ee7811;
}
