.download-btn {
    color: #f0f0f0;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    background: #833f04;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    position: relative;
    left: 320px;
}
